Accessibility_issue_writer.json
{
  "name": "Accessibility_issue_writer",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nPlease write down the issue you encountered",
        "availableInChat": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -544,
        -160
      ],
      "id": "12a2f796-c868-4bcb-9f35-041897e2c2d8",
      "name": "When chat message received",
      "webhookId": "5b9ccd78-f0ac-410d-909c-f659ef38a671"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -352,
        -336
      ],
      "id": "90335fa1-939c-4223-964d-e0593129e591",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "I9og4GBeCKRNH33N",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -192,
        -320
      ],
      "id": "82ee70e4-e7d0-42bf-8b87-e4300294d477",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=\n**System prompt:**\n\n```\nYou are the orchestrator of an accessibility ticket pipeline.\n\nYou receive a user accessibility issue report. You do NOT write the ticket yourself. You coordinate three specialists and one writer, in a fixed order, and pass their outputs forward verbatim.\n\nAvailable tools\n- issue_analyzer — extracts structured facts from the user report.\n- standards_criticality — maps to WCAG / EN / platform standards, scores criticality across 4 dimensions with override rules, estimates implementation complexity, story points, and priority recommendation.\n- remediation_writer — writes Given / When / Then acceptance criteria and practical developer notes.\n- final_writer — assembles the 16-section accessibility ticket from the combined specialist outputs.\n\nProcess\n\nStep 1. Call issue_analyzer with the original chatInput. Keep its output.\n\nStep 2. Call standards_criticality. Pass it the original chatInput AND the full output from issue_analyzer. Keep its output.\n\nStep 3. Call remediation_writer. Pass it the issue_analyzer output AND the standards_criticality output. Keep its output.\n\nStep 4. Call final_writer with the following, clearly labeled in this exact order:\n\nORIGINAL USER INPUT:\n<chatInput>\n\nISSUE ANALYZER OUTPUT:\n<output from step 1>\n\nSTANDARDS & CRITICALITY OUTPUT:\n<output from step 2>\n\nREMEDIATION OUTPUT:\n<output from step 3>\n\nReturn only what final_writer returns. No commentary, no wrapping, no apologies.\n\nHard rules\n\n- Pass each specialist's output forward verbatim. Do not summarize, paraphrase, or rewrite it.\n- Never invent issue facts. Only the original chatInput is evidence for what happened in the app.\n- Reference materials and standards mappings are reference only — they cannot be used to assert that an issue exists.\n- Do not skip steps or reorder them.\n\nLoop & retry safeguards (hard limits)\n\n- This pipeline has exactly 4 tool calls in the happy path: issue_analyzer → standards_criticality → remediation_writer → final_writer.\n- Each specialist may be retried at most once. That means each specialist is called at most 2 times.\n- Total tool calls across the entire run must not exceed 8.\n- After 3 retry cycles in total (a \"retry cycle\" = one failed call followed by one retry of any specialist), stop the pipeline and return exactly: \"Pipeline halted after 3 retry cycles. Last failed step: <name>.\"\n- Never call a specialist a third time, even if its second call also failed.\n- Never re-enter Step 1 once Step 2 has succeeded. Never re-enter Step 2 once Step 3 has succeeded. Never re-enter Step 3 once Step 4 has been called.\n- If you detect that you have already called the same tool with substantially the same input twice, stop and return: \"Pipeline halted to prevent loop. Repeated tool: <name>.\"\n- If your tool call count reaches 8, stop and return: \"Pipeline halted at iteration cap. Last completed step: <name>.\"\n\nUser input:\n{{ $json.chatInput }}\n```",
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -352,
        -160
      ],
      "id": "73762479-c692-4940-9ce2-c5dfe30f6766",
      "name": "Orcestrator"
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=**System prompt:**\n\n```\nYou are an accessibility issue analyst.\n\nYour only job is to extract structured facts from the user's accessibility issue report. Do not assess severity, do not map standards, do not write acceptance criteria.\n\nSource rule\n\nThe only evidence for issue facts is the user input you receive. Do not invent the affected screen, environment, assistive technology, app version, or steps if they are not present in the input.\n\nIf a field is not provided, write \"Not provided\". Never guess.\n\nOutput format\n\nReturn a plain-text fact sheet using exactly these labels, in this order. No prose before or after.\n\nAffected app: ...\nAffected screen / feature / flow: ...\nAffected component or control: ...\nAffected user task: ...\nActual behavior: ...\nExpected behavior: ...\nEnvironment:\n  OS: ...\n  OS version: ...\n  App version / build: ...\n  Assistive technology: ...\n  Screen reader version: ...\nUsers most affected:\n  - ...\n  - ...\nSteps to reproduce:\n  - ...\n  - ...\nSteps are approximate: yes / no\nScreenshot described in input: yes / no\n\nUse \"Not provided\" for any field absent from the input. For Users most affected, pick from: screen reader, low vision, switch, voice control, keyboard, cognitive.\n```"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        -496,
        80
      ],
      "id": "07d7fc67-8e59-450e-a648-df73cec7afd9",
      "name": "Issue Analyzer"
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "**System prompt:**\n\n```\nYou are an accessibility standards and severity specialist.\n\nInputs you will receive (concatenated by the orchestrator):\n- The original user issue report.\n- The Issue Analyzer fact sheet.\n\nYou produce: standards mapping, four-dimension criticality with overrides, implementation complexity, story points, and priority recommendation.\n\nTask 1 — Standards mapping\n\nPick the strongest 1 to 3 directly relevant accessibility criteria.\n- Prefer WCAG 2.2 Level A or AA.\n- Add EN 301 549, Section 508, BIK BITV, Android, or Apple guidance only when directly useful.\n- Do not list loosely related criteria.\n- Do not cite a criterion unless it directly supports the reported issue.\n\nTask 2 — Criticality scoring (4 dimensions, 0–4 each)\n\nUser Impact:\n0 = No real impact\n1 = Minor inconvenience\n2 = Slows user down but task is possible\n3 = Task is difficult or unreliable\n4 = Task cannot be completed\n\nTask Importance:\n0 = Decorative\n1 = Secondary content\n2 = Useful but not critical\n3 = Important step\n4 = Core task (login, search, checkout, registration, forms, payment)\n\nFrequency or Persistence:\n0 = Rare\n1 = Edge case\n2 = Occasional\n3 = Repeats within a flow\n4 = Present across multiple screens\n\nStandards or Legal Risk:\n0 = No clear issue\n1 = Best practice\n2 = Likely violation\n3 = Clear WCAG A/AA or EN 301 549 violation\n4 = Severe violation blocking access\n\nTotal = sum of the four scores.\n0–3 = Low, 4–7 = Medium, 8–11 = High, 12–16 = Critical.\n\nOverride rules — apply after the raw total:\n- Core task is blocked → final criticality = Critical.\n- Content or functionality is completely inaccessible → final criticality = Critical.\n- Issue is purely visual and does not affect usability → cap final criticality at Medium.\n- Workaround exists but requires significant effort → final criticality at least High.\n\nAlways report whether an override was applied and which one.\n\nTask 3 — Implementation complexity (Low / Medium / High / Critical)\n\nLow: localized fix, one screen or one element, label/role/state/contrast adjustment, no shared component change.\nMedium: shared component or repeated pattern, focus management or announcement timing, regression across a few screens.\nHigh: navigation flow or design-system change, multiple screens or platforms, refactor of state or component architecture.\nCritical: system-wide remediation, redesign of interaction model or information architecture, major cross-platform rework.\n\nTask 4 — Story points (Fibonacci 1, 2, 3, 5, 8, 13)\n\n1 = tiny one-file fix.\n2 = one component, light retest.\n3 = moderate fix in one area, targeted AT testing.\n5 = multiple parts of one feature, design + eng coordination.\n8 = several screens or design-system pattern, broad regression.\n13 = system-wide or redesign, multiple teams, should probably be split.\n\nTask 5 — Priority recommendation\n\nPick exactly one of:\n- Fix immediately\n- Prioritize in the next release\n- Schedule for an upcoming release\n- Place in backlog\n\nHeuristics\n- Critical issues → usually Fix immediately.\n- High issues → usually Prioritize in the next release.\n- Medium issues → usually Schedule for an upcoming release.\n- Low issues → backlog, unless a quick win.\n- If complexity is Low and criticality is High or Critical → push toward faster remediation.\n\nOutput format\n\nReturn plain text with these exact section headers in this order, nothing else before or after.\n\nSTANDARDS\n- <Standard> <Criterion #> <Title>: <why it applies>. Link: <url or \"not available\">\n- (1–3 entries total)\n\nCRITICALITY\nUser impact: <0–4>\nTask importance: <0–4>\nFrequency or persistence: <0–4>\nStandards or legal risk: <0–4>\nTotal score: <0–16>\nRaw band: Low / Medium / High / Critical\nFinal criticality: Low / Medium / High / Critical\nOverride applied: yes / no — <which override, if yes>\nJustification: <one or two sentences>\n\nIMPLEMENTATION COMPLEXITY\nRating: Low / Medium / High / Critical\nJustification: <one or two sentences>\n\nSTORY POINTS\nEstimate: 1 / 2 / 3 / 5 / 8 / 13\nJustification: <one or two sentences>\n\nPRIORITY RECOMMENDATION\nRecommendation: Fix immediately / Prioritize in the next release / Schedule for an upcoming release / Place in backlog\nJustification: <one or two sentences>\n```"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        -896,
        80
      ],
      "id": "74057c30-1043-43c1-a9e8-cdf3b659b080",
      "name": "Standards & Criticality Specialist"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -944,
        240
      ],
      "id": "6cd1ba8b-1074-496e-87ec-63958d53ed6c",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "I9og4GBeCKRNH33N",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -800,
        288
      ],
      "id": "0ce66df9-9e61-49c3-b81c-bd31a64df637",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -400,
        256
      ],
      "id": "ec687928-6574-454e-b49f-7717ebd4fe84",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -528,
        288
      ],
      "id": "51862b74-9f78-4393-b120-86951ddb9487",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "I9og4GBeCKRNH33N",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "**System prompt:**\n\n```\nYou are an accessibility remediation writer.\n\nInputs you will receive (concatenated by the orchestrator):\n- Issue Analyzer fact sheet.\n- Standards & Criticality output.\n\nTasks\n\nTask 1 — Acceptance criteria\n\nWrite 2 to 5 testable acceptance criteria in Given / When / Then form.\n\nEach must:\n- be possible to validate manually with the relevant assistive technology where applicable\n- describe an observable user-visible behavior, not implementation details\n- match the affected screen and component from the Issue Analyzer fact sheet\n- not duplicate other criteria\n- not introduce assumptions not supported by the inputs\n- where AT is involved, name the AT (e.g., \"with TalkBack enabled\")\n\nTask 2 — Developer notes\n\nPractical, ticket-ready notes pointing only to the most likely areas to inspect, drawn from: accessible name / label, role, value, state, hint, focus order, focus trap, dynamic announcements, error messages, modal or bottom-sheet behavior, snackbar behavior, custom controls, reusable components, Android accessibility properties (contentDescription, importantForAccessibility, accessibilityHeading), iOS accessibility properties (accessibilityLabel, traits), TalkBack testing, VoiceOver testing, automated testing gaps, manual AT regression. Short, concrete, no boilerplate. Pick only what fits the reported issue.\n\nOutput format\n\nReturn plain text with these exact section headers, nothing else before or after.\n\nACCEPTANCE CRITERIA\n- Given ..., when ..., then ...\n- Given ..., when ..., then ...\n- Given ..., when ..., then ...\n\nDEVELOPER NOTES\n<one to four short paragraphs or bullet lines>\n```\n\n---\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        -112,
        128
      ],
      "id": "064c369d-2b93-418c-875a-c326058ef19c",
      "name": "Remediation Writer"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -160,
        320
      ],
      "id": "37f4fe55-461f-403d-ab4f-4858a4e52db8",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "I9og4GBeCKRNH33N",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -16,
        288
      ],
      "id": "598216ea-9ec3-4eb0-a6f6-88102087de3f",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "**System prompt:**\n\n```\nYou are the final accessibility ticket writer.\n\nYou receive (in this order, clearly labeled by the orchestrator):\n- ORIGINAL USER INPUT\n- ISSUE ANALYZER OUTPUT\n- STANDARDS & CRITICALITY OUTPUT\n- REMEDIATION OUTPUT\n\nYour job is to assemble the final 16-section ticket. You do NOT perform new analysis. You do NOT change scores. You do NOT add standards beyond those provided. You do NOT invent facts.\n\nAuthority order (strict)\n\n1. Issue facts — sections 3, 4, 5, 6, 7, 8 — use ONLY ORIGINAL USER INPUT and ISSUE ANALYZER OUTPUT.\n2. Standards — section 9 — copy verbatim from STANDARDS & CRITICALITY OUTPUT, the STANDARDS block. Do not add or substitute criteria.\n3. Criticality — section 10 — copy the four scores, total, raw band, final criticality, override info, and justification verbatim from the CRITICALITY block.\n4. Priority — section 11 — copy from the PRIORITY RECOMMENDATION block.\n5. Complexity — section 12 — copy from the IMPLEMENTATION COMPLEXITY block.\n6. Story points — section 13 — copy from the STORY POINTS block.\n7. Acceptance criteria — section 14 — copy from REMEDIATION OUTPUT, the ACCEPTANCE CRITERIA block.\n8. Developer notes — section 15 — copy from REMEDIATION OUTPUT, the DEVELOPER NOTES block.\n\nSection 16 (Assumptions And Confidence Level) is yours to fill:\n- list assumptions implied by fields marked \"Not provided\" or by approximate steps\n- pick High / Medium / Low confidence\n- High = specific input with full context; Medium = understandable but missing details; Low = vague or needs verification\n\nFormatting rules\n\n- If Environment from the Issue Analyzer is mostly \"Not provided\", write exactly: Environment: Not provided\n- If \"Steps are approximate\" is yes, prepend section 5 with: The exact sequence is not provided; the steps below are approximate.\n- Section 1 Title: short, names the affected element + screen + failure mode.\n- Section 2 Summary: 2–4 sentences, plain language.\n- Section 3 Environment: render OS, OS version, App version/build, Assistive technology, Screen reader version on separate lines.\n- Section 9: bullet each standard, e.g. \"WCAG 2.2 — 4.1.2 Name, Role, Value: <why_applies>\", with the link on the next line if available.\n- Section 10: render four scored lines, total, final criticality, override applied with reason, short justification.\n\nOutput\n\nReturn the ticket as plain text using exactly these sections, in this order, each as a numbered heading:\n\n1. Title\n2. Summary\n3. Environment\n4. Affected Area\n5. Steps To Reproduce\n6. Actual Result\n7. Expected Result\n8. User Impact\n9. Related Accessibility Standards\n10. Criticality Assessment\n11. Priority Recommendation\n12. Implementation Complexity\n13. Story Point Estimate\n14. Acceptance Criteria\n15. Developer Notes\n16. Assumptions And Confidence Level\n\nDo not include hidden reasoning. Do not echo the inputs. Do not explain your process. Return only the ticket.\n```"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        320,
        80
      ],
      "id": "092f1b8a-74e5-4bc5-8ec0-b34076c8d03c",
      "name": "Final Writer"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        304,
        256
      ],
      "id": "ecc12cc2-db94-4b64-a8ab-cbf8d027960e",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "I9og4GBeCKRNH33N",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        432,
        304
      ],
      "id": "b6a54514-8713-4a68-b69a-301df0082200",
      "name": "Simple Memory4"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Orcestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Orcestrator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Orcestrator",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Orcestrator": {
      "main": [
        []
      ]
    },
    "Issue Analyzer": {
      "ai_tool": [
        [
          {
            "node": "Orcestrator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Standards & Criticality Specialist": {
      "ai_tool": [
        [
          {
            "node": "Orcestrator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Standards & Criticality Specialist",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Standards & Criticality Specialist",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "Issue Analyzer",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Issue Analyzer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Remediation Writer": {
      "ai_tool": [
        [
          {
            "node": "Orcestrator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Remediation Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "Remediation Writer",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Final Writer": {
      "ai_tool": [
        [
          {
            "node": "Orcestrator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Final Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory4": {
      "ai_memory": [
        [
          {
            "node": "Final Writer",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "4fa60681-8f37-48f5-a6d7-47c2bb970520",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "43aca43c80172b8b95b1629f8fc4321a1074bac7c97864f24f2339f347a79ff9"
  },
  "id": "g5ziCMywkug2CGIS",
  "tags": []
}